/*  your css code here. If applicable */
*{
	box-sizing:border-box;
}
nav{
	background-color:#D7E8D4;
}
 #main {
    display: flex;
    min-height: calc(100vh - 40vh);
  }
 #main > article {
    flex: 3 1 0%;
  }
  #main > nav, 
  #main > aside {
    flex: 0 0 20vw;
    background: beige;
  }
  #main > nav {
    order: -1;
  }
  header, footer, article, nav, aside {
    padding: 1em;
  }
  header, footer {
    background: yellowgreen;
    height: 20vh;
  }